
/*
************
*************************
09. Brand
******************************************************* 
*************************************************************** */

.mtm-185 {
    margin-top: -85px;
}
.gofintech_brand_img img {
    max-width: 150px;
}
.gofintech_brand_bg_wrapper {
    overflow: hidden;
}
.gofintech_brand_bg_wrapper .swiper-wrapper {
    align-items: center;
}